<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">Today Show</div>
            <div class="col"><input id="SearchQrCodeTable" class="form-control" type="search" placeholder="Search"
                    onkeypress="jFSearchInputKeyPress(event)" aria-label="Search" autocomplete="off"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th scope="col" width="5%">#</th>
                        <th scope="col" width="25%">Customer Name</th>
                        <th scope="col" width="20%">Mobile</th>
                        <th scope="col" Width="15%" style="text-align:right">Total Pcs</th>
                        <th scope="col" width="15%" style="text-align:right">Weight</th>
                        <th scope="col" width="20%" style="text-align:right">Amount</th>
                    </tr>
                </thead>
                <tbody id="KTableBody">


                </tbody>
            </table>

        </div>
    </div>
    <div class="card-footer text-muted">

        Footer

    </div>
</div>