<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Order Number</label>
                        <div class="col">
                            <input type="text" class="form-control" id="OrderNo" aria-describedby="emailHelp" disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Customer Name</label>
                        <div class="col">
                            <input type="text" class="form-control" name="CustomerName" id="CustomerName" aria-describedby="emailHelp"  disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label class="col-md-6 col-form-label">Mobile</label>
                        <div class="col">
                            <input type="tel" class="form-control" name="Mobile" id="Mobile" pattern="[6789][0-9]{9}" disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="col-md-8 col-form-label">GarmentsTotalPcs</label>
                        <div class="col">
                            <input type="number" class="form-control" name="GarmentsTotalPcs" id="GarmentsTotalPcs" aria-describedby="emailHelp" disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label class="col-md-6 col-form-label">Weight</label>
                        <div class="col">
                            <input type="number" class="form-control" name="Weight"  id="Weight" aria-describedby="emailHelp" disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Amount</label>
                        <div class="col-12">
                            <input type="number" class="form-control" name="Amount" id="Amount" aria-describedby="emailHelp"disabled>
                            <div class="invalid-feedback">
                                Should not be empty!
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Garments</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">QrCodes</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">

                <div class="row">
                    <div class="col-1 fs-2">1</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments1" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs1"
                            aria-describedby="helpId" placeholder="" disabled>
                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">2</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments2" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">
                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs2"
                            aria-describedby="helpId" placeholder="" disabled>
                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">3</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments3" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs3"
                            aria-describedby="helpId" placeholder="" disabled>
                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">4</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments4" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>

                    <div class="col-3">
                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs4"
                            aria-describedby="helpId" placeholder="" disabled>
                    </div>


                </div>
                <div class="row">
                    <div class="col-1 fs-2">5</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments5" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs5"
                            aria-describedby="helpId" placeholder="" disabled>

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">6</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments6" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs6"
                            aria-describedby="helpId" placeholder="" disabled>

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">7</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments7" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs7"
                            aria-describedby="helpId" placeholder="" disabled>

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">8</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments8" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs8"
                            aria-describedby="helpId" disabled>

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">9</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments9" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs9"
                            aria-describedby="helpId" placeholder="" disabled>

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">10</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments10" aria-describedby="helpId"
                                placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs10"
                            aria-describedby="helpId" placeholder="" disabled>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">All QrCodes</div>
                            <div class="col"><input id="SearchQrCodeTable" class="form-control" type="search" placeholder="Search"
                                onkeypress="jFSearchInputKeyPress(event)" aria-label="Search" autocomplete="off"></div>
                        </div>
                    </div>
                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Garment Name</th>
                                <th scope="col">Garments Ref</th>
                                <th scope="col">QrCode</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="card-footer text-muted">
                
                    Footer
                
                </div>
                </div>
            </div>
        </div>


    </div>
</div>