<nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Sixth navbar example" id="NavBarId">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">QrCodes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0" id="KHeader">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../Start.html" id="HomeId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
                            </path>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ShowAClass active" href="./Show/Show.html" id="QrcodeShowHeaderId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                            <path
                                d="M13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3zM2.19 3c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293L7.586 3H2.19zm9.608 5.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z" />
                        </svg>
                        Show
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="#" class="nav-link text-danger" id="QuitId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-power d-block mx-auto mb-1" viewBox="0 0 16 16">
                            <path d="M7.5 1v7h1V1h-1z" />
                            <path
                                d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                        </svg>
                        Quit
                    </a>
                </li>
            </ul>
            <form role="search">
                <input id="MainHeaderSearchId" class="form-control" type="search" placeholder="Search"
                    aria-label="Search">
            </form>
            <script>
                let jFChangeHeaderActiveClass = () => {
                    let jVarLocalPathArray = window.location.pathname.split("/");
                    let jVarLocalHTMLName = jVarLocalPathArray[jVarLocalPathArray.length - 1];
                    jFChangeNavAnchorClass({ inClassName: jVarLocalHTMLName.split(".")[0] });
                };

                let jFChangeNavAnchorClass = ({ inClassName }) => {
                    let jVarLocalNavBarId = document.getElementById("NavBarId");
                    let jVarLocalAnchorNeeded = jVarLocalNavBarId.querySelector(`.${inClassName}AClass`);
                    if (jVarLocalAnchorNeeded !== null) {

                        if (jVarLocalAnchorNeeded.classList.contains("text-white")) {
                            jVarLocalAnchorNeeded.classList.remove("text-white");
                        };

                        jVarLocalAnchorNeeded.classList.add("text-info");
                    };
                };

                jFChangeHeaderActiveClass();
            </script>
        </div>
    </div>
</nav>